body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card{
    background-color: aquamarine;
    border-radius: 10px;
    text-align: center;
    padding: 2rem;
    font-family: arial, sans-serif;
    box-shadow: 0 4px 8px rgba(0,0,0,0.9);
    transition: 0.5s;
}
.card:hover{
    background-color:blue;
    color:white;
}
.card:active{
    background-color:bisque;
    color:black;
}